{% extends "base.html" %}

{% block content %}
    <div class="main-form">
    <h1 class="title">
        {% if  view_name == 'register'%}
        Registrar novo usuario
        {% else %}
        Login
        {% endif %}
    </h1>
    <form class="form" method="POST">
        <div class="inputs"></div>
        {% csrf_token %}
        {% for field in form %}
          <div>
            {{ field.label_tag }}
            {% if field.errors %}
              <span>{{ field.errors }}</span>
            {% endif %}
            {{ field }}
          </div>
        {% endfor %}
        <button class="send">
            {% if  view_name == 'register'%}
                Criar novo usuario
            {% else %}
                Logar
            {% endif %}
        </button>
    </form>
    </div>
{% endblock content %}
