{% extends "base.html" %}

{% block content %}
    <div class="main-form">
    <h1 class="title">Crie uma tarefa</h1>
    <form class="form" action="{% url 'create' %}" method="POST">
        <div class="inputs"></div>
        {% csrf_token %}
        {% for field in form %}
          <div>
            {{ field.label_tag }}
            {% if field.errors %}
              <span>{{ field.errors }}</span>
            {% endif %}
            {{ field }}
          </div>
        {% endfor %}
        <button class="send">Create</button>
    </form>
    </div>
{% endblock content %}
