{% extends "base.html" %} 

{% block content %}
    <div class="main-container">
        <div class="left-container">
            {% comment %} LEFT CONTAINER {% endcomment %}
            <div class="todo">
                <h1 class="space">Items a fazer</h1>
                <h1>{{ numero_tarefas_feitas }}</h1>
            </div>
            <div class="done">
                <h1 class="space">Items feitos</h1>
                <h1>{{ numero_tarefas_nao_feitas }}</h1>
            </div>
        </div>
        <div class="right-container">
            {% comment %} RIGHT CONTAINER {% endcomment %}
            <div class="buttons">
                <a href="{% url 'create' %}" class="button">Create a new task</a>
            </div>
            <div class="categories">
                <h5 class="category-item">All</h5>
                {% for categoria in categorias %}
                    <h5 class="category-item">{{ categoria.nome }}</h5>
                {% endfor %}
            </div>
            <div class="list-container">
                <ul class="list">
                    {% for tarefa in tarefas %}
                    <li class="list-item">
                        <div class="inner-text">
                            <h3 class="list-item-title">{{ tarefa.nome }}</h3>
                            <p class="list-paragraph">{{ tarefa.descricao }}</p>
                        </div>
                        <div class="icons">
                            <a href="#"><i class="fa fa-check-square-o"></i></a>
                            <a href="#"><i class="fa fa-edit"></i></a>
                            <a href="#"><i class="fa fa-remove"></i></a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
