*{
    padding: 0;
    margin: 0;
    font-family: Roboto, Inter, sans-serif;
    color: white;
}

.main-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* ------------- LEFT CONTAINER -------- */
.left-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 30%;
    height: 100%;
    background-color: #282a36;
}

.todo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    width: 90%;
    background-color: #ffb86c;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: white;
}

.done{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    width: 90%;
    background-color: #50fa7b;
    padding: 20px;
    border-radius: 5px; 
       
}

.space{
    margin-bottom: 10px;
}

/* ------------- RIGHT CONTAINER -------- */
.right-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 70%;
    height: 100vh;
    background-color: #44475a;
}

.buttons{
    display: flex;
    justify-content: flex-end;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    border: none;
    background-color: deepskyblue;
    border-radius: 5px;
    text-decoration: none;
}

.categories {
    display: flex;
    
    font-size: 200%;
    height: 50px;
    padding: 10px;
}

.category-item{
    margin-right: 50px;
}


ul.list{
    list-style-type: none;
}


.list-item {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #ff5555;
}

/* had to add _other because there are other 
   classes as todo and done. 
*/
.list-item.all_other {
    border-left-color: #8be9fd;
}

.list-item.todo_other {
    border-left-color: #ff5555;
}

.list-item.done_other {
    border-left-color: #50fa7b;
}

.list-item-title, .list-paragraph {
    color: #282a36;
}

.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
    width: 100px;
}

.fa-edit, .fa-remove, .fa-check-square, .fa-check-square-o{
    font-size: 24px;
    color: #44475a;
}

.fa-check-square, .fa-check-square-o{
    margin-right: 5px;
}

/*-------------------- FORM ----------------------------*/

.main-form{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6272a4;
}

.title{
    font-size: 60px;
    margin: 20px 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    background-color: #44475a;
    border-radius: 5px;
}

label {
    display: none;
    visibility: hidden;
}

.nome, .descricao, .categoria{
    width: 300px;
    height: 40px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: #44475a;
}

option{
    color: #44475a;  
}

button.send{
    background-color: #50fa7b;
    width: 310px;
    height: 45px;
    border-radius: 5px;
    margin-top: 5px;
    border: none;
}

